* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #0aa9e3;
  color: white;
  width: 50%;
  border-radius: 1px 15px;
  margin-top: -20%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
}

.container {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

.upload-section {
  margin-bottom: 20px;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #357abd;
}

.preview-section {
  display: none;
  margin-top: 20px;
}

#preview-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

#download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

#download-btn:hover {
  background-color: #357abd;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0aa9e3;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
